<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Discover the latest anime reviews, news, and discussions on Cringe. We cover popular and niche anime genres, providing in-depth analysis for anime fans." />
    <meta name="keywords" content="anime, manga, japan, cartoons, reviews, news, discussions" />
    <meta name="author" content="Cringe Developers">
    <meta property="og:url" content="https://cringe-0-0-1.onrender.com/" />
    <meta property="og:title" content="Cringe - Anime Website" />
    <meta property="og:description" content="Discover the latest anime reviews, news, and discussions on Cringe. We cover popular and niche anime genres, providing in-depth analysis for anime fans." />
    <meta property="og:image" content="https://cringe-0-0-1.onrender.com/images/cringe-logo.jpg" /> <meta property="og:site_name" content="Cringe" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@YourTwitterHandle" /> <meta name="twitter:title" content="Cringe - Anime Website" />
    <meta name="twitter:description" content="Discover the latest anime reviews, news, and discussions on Cringe. We cover popular and niche anime genres, providing in-depth analysis for anime fans." />
    <meta name="twitter:image" content="https://cringe-0-0-1.onrender.com/images/cringe-logo.jpg" />

    <title>Cringe</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css" />
    <link rel="stylesheet" href="/css/swiper.css" />
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-http-streaming/dist/videojs-http-streaming.js"></script>
  </head>
  <body>
    <header>
      <img src="/images/logo.png" alt="" class="logo1" />

      <div class="header-aside">
        <i class="fas fa-search"></i>
        <i class="fas fa-bell"></i>
        <img src="/images/profile.png" alt="" />
      </div>
    </header>
    <nav>
      <div class="logo2">
        <img src="/images/logo.png" alt="" />
      </div>
      <div class="mobile-nav">
        <a href="/">
          <div class="nav-icon active">
            <img src="/images/home.png" alt="" />
          </div>
        </a>
        <a href="">
          <div class="nav-icon">
            <img src="/images/heart.png" alt="" />
          </div>
        </a>
        <a href="">
          <div class="nav-icon">
            <img src="/images/categories.png" alt="" />
          </div>
        </a>
        <a href="">
          <div class="nav-icon">
            <img src="/images/watchlist.png" alt="" />
          </div>
        </a>
      </div>

      <div class="logo3">
        <a href="">
          <div class="nav-icon">
            <img src="/images/settings.png" alt="" />
          </div>
        </a>
        <div class="nav-icon red-btn">
          <img src="/images/logout.png" alt="" />
        </div>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>